.header{
    width:100%;
    margin:0%;
}

.heading{
    background: #9c1d03;
    position: relative;
    display: block;
    margin:0%;
    padding: 0px;
    width: 100%;
    height: 20%;
}

/*.navigation {
    display: block;
    list-style-type: none;
    display: inline-block;
    position: relative;
    align: center;
 }*/

 .navigation a {
     display: block;
     float: left;
     text-align: center;
     color: #FFFFFF;
     font-family: Copperplate, Copperplate Gothic Light, fantasy;
     font-size: large;
     text-decoration: none;
 }

 .navigation li{
    display: inline-block;
    margin: 20px 20px 20px 20px;
    list-style-type: none;
 }

 .navigation a:hover {
     color: black;
 }

 h1 {
    font-family: Copperplate, Copperplate Gothic Light, fantasy;
    font-size: 70px;
    color: #FFFFFF;
    position: relative;
    text-align: center;
    margin: 40px;
 }

.disney-mulan{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:40%;
    border-radius: 5px;
}

.custom-select{
    display: flex;
    justify-content: center;
}

select{
    margin-bottom: 100px;
    font-family: Geneva, sans-serif;
    border-color: #9c1d03;
    border-width: thin;
    width: 500px;
    text-align: center;
}


footer{
    background: #9c1d03;
    opacity: 1;
    display: block;
    bottom:0;
    padding: 5px;
}

p{
   font-family: Geneva, sans-serif;
   font-weight: normal;
   font-size: 20px;
   text-align: center;
   color: #000000;
}

h3{
   font-family: Copperplate, Copperplate Gothic Light, fantasy;
   font-size: 20px;
   color: #FFFFFF;
   text-align: center;
}

table{
    border: 1px solid;
    border-collapse: collapse;
    width: 80%;
    margin: auto;
    margin-bottom: 50px;
    font-family: Geneva, sans-serif;
    font-size: 20px;
    color: #111111;
}

tr, td{
    border: 1px solid;
    padding: 15px;
    text-align: center;
}

tr#table-heading{
    font-weight: bold;
    text-align: center;
}

td#picture-cell{
    width: 50%;
}

.mulan-soldier{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width:60%;
    border-radius: 5px;
}

.mulan-part2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width:60%;
    border-radius: 5px;
}



